# Env
NODE_ENV = Complete with Node.js Environment

# Port
PORT = Complete with Port

# Log
LOG_LEVEL = Complete with the log level

# database
DATABASE_URL = Complete with the MongoDB connection URL

# auth
AUTH_SECRET = Token's key
AUTH_TTL = Token's time to live